@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary: #394C31;
  --color-lite-primary: #98AB91;
  --color-gold: #C1A476;
  --color-paragraph: #181818B2;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-ibm-plex-sans-arabic);
}